@font-face {
    font-family: 'Conthrax';
    src: url('fonts/Conthrax-SemiBold.otf') format('opentype');
}

.font-conthrax {
    font-family: 'Conthrax', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}

.glow-text {
    text-shadow: 0 0 20px rgba(223, 255, 0, 0.3);
}

.gradient-bg {
    background: radial-gradient(circle at top right, #1f1f1f 0%, #0a0a0a 60%);
}
